<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/banner.ejs') %>
        <div class="bookscontent">
            <form action="/authors" method="POST">
                <div class="container-1">
                    <h1 class="container-title"><b>Authors</b></h1> 
            <% if (theAuthors.length > 0) { %>
                <% theAuthors.forEach(author => { %>
                    <div class="info-box">
                    <p class="info-title"><b><%= author.first_name %> <%= author.last_name %></b></p> 
                    <p class="container-info">ID: <%= author.id %> Date of Birth: <%= author.dob %> </p> <br>
                    
                    <a class="edit" href="/authors/<%=author.id%>/edit?first_name=<%=author.first_name%>&last_name=<%=author.last_name%>&dob=<%=author.dob%>">edit</a>
                    <a class="delete" href="/authors/<%=author.id%>/delete?first_name=<%=author.first_name%>&last_name=<%=author.last_name%>&dob=<%=author.dob%>">delete</a>
                    <a class="replace" href="/authors/<%=author.id%>/replace?first_name=<%=author.first_name%>&last_name=<%=author.last_name%>&dob=<%=author.dob%>">replace</a></br> 
                    </div>
                    <% }) %>
            <% } %>
        </div>
            <div class="input-container">
                <div class="form-input">
                </br><label class="input-title"><b>Add A Author</b></label></br>
                    <p>First Name</p>
                    <label>
                        <input type="text" id="first_name" name="first_name" value="<%= locals.first_name %>" required>
                    </label>
                    <p>Last Name</p>
                    <label>
                        <input type="text" id="last_name" name="last_name" value="<%= locals.last_name %>" required>
                    </label>
                    <p>Date Of Birth</p>
                    <label>
                        <input type="text" id="dob" name="dob" value="<%= locals.dob %>" required>
                    </label>
                    </br>
                    <button>POST</button>
                </div>
            </div>
        </form>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>