<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/banner.ejs') %>
        <div class="delete content">
            <form action="/books/<%= locals.theId %>?_method_override=DELETE" method="POST">
                <label>Are you sure you want to delete this Book?</br>
                    <input type="text" id="<%= locals.theId %>" name="book" value="<%= locals.title %>" readonly>
                </label>
                <button>DELETE</button>
            </form>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>
