<html lang="en">
    <%- include('./partials/header.ejs') %>
    <body>
        <%- include('./partials/banner.ejs') %>
        <div class="create content">
            <form action="/patrons/<%= locals.theId %>?_method_override=PUT" method="POST">
                <h3>Replace Author Info</h3>
                <label for="first_name">First Name: </label><input type="text" id="first_name" name="first_name" value="<%= locals.first_name %>" required>
                <label for="last_name">Last Name: </label><input type="text" id="last_name" name="last_name" value="<%= locals.last_name %>" required>
                <label for="phone">Phone: </label><input type="text" id="phone" name="phone" value="<%= locals.phone %>" required>
                <label for="email">Email: </label><input type="text" id="email" name="email" value="<%= locals.email %>" required>
                <label for="province_id">Province ID: </label><input type="text" id="province_id" name="province_id" value="<%= locals.province_id %>" required>
                <label for="areacode_id">Area Code ID : </label><input type="text" id="areacode_id" name="areacode_id" value="<%= locals.areacode_id %>" required>
                </br> <br>
                <button>PUT</button>
            </form>
        </div>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>